@font-face {
    font-family: 'cartHeadingFont';
    src: url('../fonts/magenda/MagendaRegular-MVwjx.ttf');
}

.cartProductSection{

    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;

}

.cartProductHeading{

    height: 5rem;
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    margin-bottom: 50px;

}

.cartProductHeading > h2{

    font-family: 'cartHeadingFont';
    letter-spacing: 3px;
    font-size: 22px;
    position: relative;

}

.cartProductHeading > h2::after{

    position: absolute;
    top: 25px;
    left: 5px;
    width: 50%;
    height: 2.5px;
    background-color: orange;
    content: "";

}

.productTable{

    height: 100vh;
    padding-bottom: 50px;
    padding-left: 50px;
    overflow-y: scroll;

}

.productTable > table{

    width: 70%;

}

.productTable > table, tr, th, td {

    padding: 20px;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    text-align: left;

}

.productTable table thead tr > th{

    padding-bottom: 5px;
    font-size: 14px;
    font-family: 'cartHeadingFont';
    letter-spacing: 2.5px;
    font-weight: 700;

}

.productTable table tbody tr td > .productImageAndName{

    display: flex;
    align-items: flex-start;

}

.productTable table tbody tr td .productImageAndName > .cartProductImage img{

    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;

}

.productTable table tbody tr td .productImageAndName > .cartProductDetails {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 150px;
    width: 100%;

}

.cartProductDetails > a{

    text-decoration: none;
    color: #292929;

}

.cartProductDetails a > p{

    padding-left: 20px;
    font-family: 'cartHeadingFont';
    letter-spacing: 2px;
    font-size: 17px;

}

.cartProductDetails > span{

    padding-left: 20px;
    font-size: 14px;
    font-family: 'cartHeadingFont';
    letter-spacing: 1px;
    color: gray;
    cursor: pointer;
    text-decoration: underline;

}

.productTable tbody tr > td:nth-child(2){

    font-size: 17px;
    font-family: 'cartHeadingFont';
    letter-spacing: 2px;

}

.productTable tbody tr > td:nth-child(3){

    font-size: 17px;
    font-family: 'cartHeadingFont';
    letter-spacing: 2px;

}