.kidCollectionPageBanner{

    width: 100%;
    height: 90vmin;
    overflow: hidden;

}

.kidCollectionPageBanner > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
    animation: imageAnime 20s linear

}

@keyframes imageAnime {
    
    50%{

        transform: scale(1.2);
        filter: brightness(130%);

    }0%, 100%{

        transform: scale(1);
        filter: brightness(100%);

    }

}