@font-face {
    font-family: 'quickViewFont';
    src: url('../fonts/magenda/MagendaRegular-MVwjx.ttf');
}

.quickViewBoxSection{

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: #29292991;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease;

}

.quickViewBoxSection > .closeIcon{

    position: absolute;
    top: 40px;
    left: 1080px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.8s ease;
    padding: 5px;

}

.closeIcon > span:nth-child(1){

    width: 100%;
    height: 1.5px;
    background-color: #292929;
    transform: rotate(-50deg) translateY(2px);
    transition: all 0.8s ease;

}

.closeIcon > span:nth-child(2){

    width: 100%;
    height: 1.5px;
    background-color: #292929;
    transform: rotate(50deg) translateY(-4px) translateX(-3px);
    transition: all 0.8s ease;

}

.closeIcon:hover{

    background-color: orange;

}

.closeIcon:hover > span:nth-child(1){

    transform: rotate(0deg) translateY(3px);
    background-color: #fff;

}

.closeIcon:hover > span:nth-child(2){

    transform: rotate(0deg) translateY(-3px);
    background: #fff;

}

.quickViewBox{
   
    position: absolute;
    width: 50%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    display: flex;
    overflow: hidden;
    z-index: -2;

}

.quickViewBox > .quickViewBoxImage{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quickViewBoxImage > img{

    width: 90%;
    height: 90%;
    object-fit: cover;

}

.quickViewBox > .quickViewBoxDetails{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.quickViewBoxDetails > .firstQuickViewBoxDetails{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;

}

.firstQuickViewBoxDetails > h2{

    font-family: 'quickViewFont';
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    padding-right: 50px;

}

.firstQuickViewBoxDetails > p:nth-child(2){

    font-family: 'quickViewFont';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;

}

.firstQuickViewBoxDetails > p:nth-child(3){

    font-family: 'quickViewFont';
    letter-spacing: 1.5px;
    line-height: 25px;
    padding-right: 50px;

}

.firstQuickViewBoxDetails > button{

    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid orange;
    cursor: pointer;
    font-family: 'quickViewFont';
    letter-spacing: 2px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all 0.8s ease;

}

.firstQuickViewBoxDetails > button:hover{

    color: #fff;
    border: transparent;

}

.firstQuickViewBoxDetails > button::after{

    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: orange;
    content: "";
    transition: all 0.8s ease;
    z-index: -2;

}

.firstQuickViewBoxDetails > button:hover::after{

    width: 100%;

}

.quickViewBoxDetails > .secondQuickViewBoxDetails{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 30px;

}

.secondQuickViewBoxDetails > p{

    font-size: 14px;
    font-family: 'quickViewFont';
    letter-spacing: 2px;
    display: inline-flex;
    font-weight: 500;
    gap: 10px;

}

.secondQuickViewBoxDetails p > svg{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}

.secondQuickViewBoxDetails > ul{

    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.secondQuickViewBoxDetails ul > li{

    font-family: 'quickViewFont';
    font-weight: 500;
    font-size: 12px;
    padding-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.secondQuickViewBoxDetails > span{

    font-family: 'quickViewFont';
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 10px;
    color: gray;
    text-transform: normal;

}