@font-face {
    font-family: 'singleProductPagefont';
    src: url('../fonts/magenda/MagendaRegular-MVwjx.ttf');
}

.singleProducPage{

    width: 100%;
    height: 100%;

}

.singleProducPage > .singleProductSection{

    width: 100%;
    height: 100%;
    display: flex;
    margin: 50px 0px;

}

.singleProductSection > .singleProductImage{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.singleProductImage > img{

    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

.singleProductSection > .singleProductContent{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.singleProductContent > .singleProductDetailsBox{

    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;

}

.singleProductDetailsBox::after{

    position: absolute;
    top: 130px;
    left: 0;
    height: 1px;
    width: 90%;
    background-color: rgb(190, 190, 190);
    content: "";

}

.singleProductDetailsBox > h2{

    font-family: 'singleProductPageFont';
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: capitalize;

}

.singleProductDetailsBox > p{

    font-size: 1.5rem;
    letter-spacing: 2px;

}

.singleProductContent > .singleProductPageButtonsBox{

    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    position: relative;

}

.singleProductPageButtonsBox::after{

    position: absolute;
    top: 150px;
    left: 0;
    content: "";
    height: 1.5px;
    width: 90%;
    background-color: rgb(224, 224, 224);

}

.singleProductPageButtonsBox > .singleProductPageButtonsSection{

    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;

}

.singleProductPageButtonsSection > .singleProductPageCounterBox{

    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: aqua; */

}

.singleProductPageCounterBox > input{

    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    font-family: 'singleProductPageFont';
    font-size: 20px;
    border-top: 2px solid rgb(224, 224, 224);
    border-bottom: 2px solid rgb(224, 224, 224);

}

.singleProductPageCounterBox > input[type="number"]::-webkit-inner-spin-button{

    -webkit-appearance: none;

}

.singleProductPageCounterBox > .decrease{

    width: 20%;
    height: 51px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(224, 224, 224);
    border-bottom: 2px solid rgb(224, 224, 224);
    border-left: 2px solid rgb(224, 224, 224);
    cursor: pointer;
    transition: all 0.8s ease;

}

.decrease:hover{

    background-color: orange;
    border-color: orange;

}

.decrease:hover > svg{

    color: #ffffff;

}

.decrease > svg{

    font-size: 20px;
    transition: all 0.8s ease;

}

.singleProductPageCounterBox > .increase{

    width: 20%;
    height: 51px;
    border-top: 2px solid rgb(224, 224, 224);
    border-bottom: 2px solid rgb(224, 224, 224);
    border-right: 2px solid rgb(224, 224, 224);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease;

}

.increase:hover{

    background-color: orange;
    cursor: pointer;

}

.increase:hover > svg{

    color: #ffffff;

}

.increase > svg{

    font-size: 20px;
    transition: all 0.8s ease;

}

.singleProductPageButtonsSection > button:nth-child(2){

    width: 200px;
    background-color: transparent;
    border: 2px solid orange;
    outline: none;
    height: 40px;
    font-size: 15px;
    color: #292929;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'singleProductPagefont';
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 30px;
    position: relative;
    transition: all 0.8s ease;

}

.singleProductPageButtonsSection > button:nth-child(2):hover{

    border: transparent;
    color: #ffffff;

}

.singleProductPageButtonsSection > button:nth-child(2)::after{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: orange;
    content: "";
    transition: all 0.8s ease;
    z-index: -2;
    opacity: 0;

}

.singleProductPageButtonsSection > button:nth-child(2)::before{

    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #292929;
    content: "";
    z-index: -2;
    transition: all 0.8s ease;
    opacity: 0;

}

.singleProductPageButtonsSection > button:nth-child(2):hover::after{

   width: 50%;
   opacity: 1;

}

.singleProductPageButtonsSection > button:nth-child(2):hover::before{

    width: 50%;
    opacity: 1;

}

.singleProductPageButtonsSection > button:nth-child(3){

    width: 200px;
    height: 40px;
    background-color: orange;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: 'singleProductPageFont';
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    transition: all 0.8s ease;

}

.singleProductPageButtonsSection > button:nth-child(3):hover{

    color: #ffffff;

}

.singleProductPageButtonsSection > button:nth-child(3)::after{

    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "Buy It Now ";
    background-color: #292929;
    transform: scaleY(0);
    transition: all 0.8s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}

.singleProductPageButtonsSection > button:nth-child(3):hover::after{

    transform: scaleY(1);

}

.singleProductPageButtonsBox > .singleProductPageSecondButtonsSection{

    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

}

.singleProductPageSecondButtonsSection > span:nth-child(1){

    font-size: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'singleProductPageFont';
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.singleProductPageSecondButtonsSection span:nth-child(1) > svg{

    font-size: 18px;
    transition: all 0.5s ease;

} 

.singleProductPageSecondButtonsSection > span:nth-child(1):hover{

    color: orange;

}

.singleProductPageSecondButtonsSection > span:nth-child(2){

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    font-size: 15px;
    transition: all 0.5s ease;

}

.singleProductPageSecondButtonsSection span:nth-child(2) > svg{

    font-size: 15px;
    transition: all 0.5s ease;

}

.singleProductPageSecondButtonsSection > span:nth-child(2):hover{

    color: orange;
    cursor: pointer;

}

 .singleProductPageProductDetailsBox{

    width: 100%;
    height: 8rem;
    margin-top: 10px;
    display: flex;
    align-items: center;

}

 .singleProductPageProductDetailsBox > table {

    width: 40%;

}

.singleProductPageProductDetailsBox table tbody tr > td{

    border: none;
    padding: 7px 0px;
    font-size: 14px;
    font-family: 'singleProductPageFont';
    letter-spacing: 2px;

}

.singleProductContent > .singleProductPageProductOtherDetailsBox{

    width: 100%;
    height: 100%;
    margin-top: 20px;
    /* overflow: hidden; */

}

.singleProductPageProductOtherDetailsBox > .singleProductPageProductFirstDropdownBox{

    width: 90%;
    height: 3rem;
    background-color: #ffffff;

}

.singleProductPageProductFirstDropdownBox > .singleProductPageProductFirstDropdownBoxContent{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

}

.singleProductPageProductFirstDropdownBoxContent::after{

    position: absolute;
    top: 50px;
    left: 0;
    content: "";
    height: 1.5px;
    background-color: rgb(224, 224, 224);
    width: 100%;

}


.singleProductPageProductFirstDropdownBoxContent > span:nth-child(1){

    display: inline-flex;
    gap: 10px;
    height: 50%;

}

.singleProductPageProductFirstDropdownBoxContent span:nth-child(1) > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    text-transform: capitalize;

}

.singleProductPageProductFirstDropdownBoxContent > .shippintDropDownBarIcons{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.shippintDropDownBarIcons > span{

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.shippintDropDownBarIcons span:nth-child(1) > svg{

    font-size: 25px;
    position: absolute;

}

.shippintDropDownBarIcons span:nth-child(2) > svg{

    position: relative;
    font-size: 25px;

}

.singleProductPageProductFirstDropdownBoxContent > span:nth-child(2){

    font-size: 25px;
    cursor: pointer;
    font-weight: bolder;

}

.singleProductPageProductFirstDropdownBox > .shippingInformationBox{

    width: 100%;
    height: 8rem;
    overflow: hidden;
    margin-top: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

}

.shippingInformationBox > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 15px;

}

.singleProductPageProductOtherDetailsBox > .singleProductPageProductSecondDropDownBox{

    width: 100%;
    height: 100%;
    margin-top: 5px;

}

.singleProductPageProductSecondDropDownBox > .singleProductPageProductSecondDropdownBoxContent{

    width: 90%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    background-color: #ffffff;

}

.singleProductPageProductSecondDropdownBoxContent::after{

    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(224, 224, 224);
    content: "";

}

.singleProductPageProductSecondDropdownBoxContent > span:nth-child(1){

    display: inline-flex;
    align-items: center;
    gap: 10px;

}

.singleProductPageProductSecondDropdownBoxContent span:nth-child(1) > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;

} 

.singleProductPageProductSecondDropdownBoxContent > .careGuideDropDownBarIcons{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.careGuideDropDownBarIcons > span{

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.careGuideDropDownBarIcons span:nth-child(1) > svg{

    font-size: 25px;
    position: absolute;

}

.careGuideDropDownBarIcons span:nth-child(2) > svg{

    font-size: 25px;
    position: relative;

}

.singleProductPageProductSecondDropdownBoxContent > span:nth-child(2){

    font-size: 25px;

}

.singleProductPageProductSecondDropDownBox > .careGuideBox{
    
    width: 90%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    overflow: hidden;

}

.careGuideBox > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 1.5px;

}

.careGuideBox > ul{

    margin-left: 15px;

}

.careGuideBox ul > li{

    font-family: 'singleProductPageFont';
    font-size: 15px;
    letter-spacing: 1.5px;

}

.singleProductPageProductOtherDetailsBox > .singleProductPageProductThirdBox{

    width: 90%;
    height: 100%;
    margin-top: 2px;
    padding: 20px 0px;

}

.singleProductPageProductThirdBox > span{

    display: inline-flex;
    gap: 10px;

}

.singleProductPageProductThirdBox span > svg{

    font-size: 18px;

}

.singleProductPageProductThirdBox span > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    text-transform: capitalize;

}

.singleProductPageProductThirdBox > .productFreeDeliveryBox{

    width: 100%;
    height: 3rem;
    display: flex;
    align-items: flex-end;
    position: relative;

}

.productFreeDeliveryBox::after{

    position: absolute;
    top: 60px;
    left: 0;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #292929;

}

.productFreeDeliveryBox > span{

    display: inline-flex;
    gap: 10px;

}

.productFreeDeliveryBox span > svg{

    font-size: 18px;

}

.productFreeDeliveryBox span > p{

    font-family: 'singleProductPageFont';
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;

}

.singleProductPageProductThirdBox > .socialIconSection{

    width: 100%;
    height: 3rem;
    /* background-color: antiquewhite; */
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 20px;

}

.socialIconSection > span{

    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: 'singleProductPageFont';
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.socialIconSection span > svg{

    font-size: 18px;

}

.socialIconSection > span:hover{

    color: orange;
    transform: scale(1.1);

}

.singleProducPage > .singleProductPageLikeProductSection{

    width: 100%;
    height: 100%;
    padding: 50px 0px;

}

.singleProductPageLikeProductSection > .singleProductPageLikeProductSectionHeading{

    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.singleProductPageLikeProductSectionHeading > h2{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    font-size: 30px;

}

.singleProductPageLikeProductSection > .singleProductPageLikeProductSectionProducts{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-top: 30px;

}

.singleProductPageLikeProductSectionProducts > .productBox{

    width: 20rem;
    height: 35rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #2929293a;

}

.productBox > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.8s ease;
    position: absolute;

}

.productBox:hover > img{

    transform: scale(1.1);

}

.productBox > svg{

    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    color: orange;

}

.productBox > button{

    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 80%;
    height: 8%;
    background-color: #ffffff;
    border: none;
    outline: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.8s ease;
    overflow: hidden;

}

.productBox:hover > button{

    bottom: 30px;

}

.productBox > button::after{

    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: orange;
    content: "";
    transition: all 0.8s ease;

}

.productBox > button:hover::after{

    height: 100%;

}

.productBox button > svg{

    font-size: 18px;
    color: orange;
    position: relative;
    z-index: 2;
    transition: all 0.8s ease;

}

.productBox button:hover > svg{

    color: #ffffff;

}

.productBox button > p{

    font-size: 15px;
    color: orange;
    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: all 0.8s ease;

}

.productBox button:hover > p{

    color: #ffffff;

}

.singleProducPage > .productShorDescriptionSection{

    width: 100%;
    height: 80vh;
    background-image: url('https://images.unsplash.com/photo-1639747276707-a615a3a4655a?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.productShorDescriptionSection > .productShortDescriptionBox{

    width: 50%;
    /* background-color: #292929; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}

.productShortDescriptionBox > span{

    color: #292929;
    font-size: 20px;
    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    padding-left: 40px;
    text-transform: uppercase;

}

.productShortDescriptionBox > h3{

    color: #292929;
    text-transform: capitalize;
    padding-left: 40px;
    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    font-size: 60px;
    width: 600px;

}

.productShortDescriptionBox > p{

    color: #292929;
    padding-left: 40px;
    width: 650px;
    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    line-height: 25px;

}

.singleProducPage > .discoverSection{

    width: 100%;
    height: 75vh;
    display: flex;

}

.discoverSection > .discoverImage{

    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */

}

.discoverImage > img:nth-child(1){

    position: absolute;
    left: 50px;
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: left;

}

.discoverImage > img:nth-child(2){

    height: 350px;
    width: 300px;
    position: absolute;
    object-fit: cover;
    object-position: center center;
    right: 30px;
    

}

.discoverSection > .discoverSectionContent{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}

.discoverSectionContent > span{

    font-family: 'singleProductPageFont';
    font-size: 15px;
    letter-spacing: 3px;
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 50px;

}

.discoverSectionContent > h3{

    font-family: 'singleProductPageFont';
    font-size: 35px;
    letter-spacing: 2px;
    padding-left: 50px;

}

.discoverSectionContent > p{

    font-family: 'singleProductPageFont';
    width: 650px;
    padding-left: 50px;
    line-height: 25px;
    letter-spacing: 1.5px;

}

.discoverSectionContent > button{

    margin-left: 50px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #292929;
    cursor: pointer;
    font-family: 'singleProductPageFont';
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.8s ease;

}

.discoverSectionContent > button:hover{

    border: transparent;
    color: #ffffff;

}

.discoverSectionContent > button::after{

    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: orange;
    content: "";
    transition: all 0.8s ease;
    z-index: -2;

}

.discoverSectionContent > button:hover::after{

    height: 100%;

}

.singleProducPage > .delivaryDetailSection{

    width: 100%;
    height: 30vh;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.delivaryDetailSection > .freeShipping{

    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.freeShipping span > svg{

    font-size: 50px;
    color: orange;
    margin-bottom: 20px;

}

.freeShipping > h4{

    font-family: 'singleProductPageFont';
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;

}

.freeShipping > p{

    font-family: 'singleProductPageFont';
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 10px;

}

.delivaryDetailSection > .qualitySupport{

    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.qualitySupport span > svg {

    color: orange;
    font-size: 50px;
    margin-bottom: 20px;

} 

.qualitySupport > h4{

    font-family: 'singleProductPageFont';
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;

}

.qualitySupport > p{

    color: #ffffff;
    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    margin-top: 10px;

}

.delivaryDetailSection > .qualityCheck{

    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.qualityCheck span > svg{

    font-size: 50px;
    color: orange;
    margin-bottom: 20px;

}

.qualityCheck > h4{

    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'singleProductPageFont';

}

.qualityCheck > p{

    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 10px;
    font-family: 'singleProductPageFont';

}

.singleProducPage > .faqSection{

    width: 100%;
    height: 70vh;

}

.faqSection > .faqHeading{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

.faqHeading > h3{

    font-size: 50px;
    text-transform: uppercase;
    font-family: 'singleProductPageFont';
    letter-spacing: 10px;

}

.faqHeading > p{

    font-size: 17px;
    font-family: 'singleProductPageFont';
    letter-spacing: 1px;

}

.faqSection > .faqDropDown{

    width: 100%;
    height: 70%;
    padding-top: 30px;

}

.faqDropDown > .firstFaq{

    width: 60%;
    margin: 0px auto;
    padding-top: 30px;

}

.firstFaq > .firstFaqQuestionBar{

    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #e6e6e6ff;
    border-bottom: 1px solid #e6e6e6ff;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ffffff;

}

.firstFaqQuestionBar > span {

    font-family: 'singleProductPageFont';
    font-size: 20px;
    letter-spacing: 2px;

}

.firstFaqQuestionBar > .firstFaqQuestionBarIcons{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.firstFaqQuestionBarIcons > span{

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.firstFaqQuestionBarIcons span:nth-child(1) > svg{

    position: absolute;
    font-size: 30px;

}

.firstFaqQuestionBarIcons span:nth-child(2) > svg{

    font-size: 30px;
    position: relative;

}

.firstFaq > .firstFaqQuestionDropDownBox{

    text-align: left;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.firstFaqQuestionDropDownBox > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    font-size: 15px;

}

.faqDropDown > .secondFaq{

    width: 60%;
    margin: 0px auto;
    cursor: pointer;

}

.secondFaq > .secondFaqQuestionBar{

    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6ff;
    background-color: #ffffff;

}

.secondFaqQuestionBar > span{

    font-family: 'singleProductPageFont';
    font-size: 20px;
    letter-spacing: 2px;

}

.secondFaqQuestionBar > .secondFaqQuestionBarIcons{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.secondFaqQuestionBarIcons > span{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.secondFaqQuestionBarIcons span:nth-child(1) > svg{

    font-size: 30px;
    position: absolute;

}

.secondFaqQuestionBarIcons span:nth-child(2) > svg{

    font-size: 30px;
    position: relative;

}

.secondFaq > .secondFaqQuestionBarDropDown{

    height: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.secondFaqQuestionBarDropDown > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    font-size: 15px;

}

.faqDropDown > .thirdFaq{

    width: 60%;
    margin: 0px auto;

}

.thirdFaq > .thirdFaqQuestionBar{

    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6ff;
    background-color: #ffffff;

}

.thirdFaqQuestionBar > span{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    font-size: 20px;
    display: inline-flex;

}

.thirdFaqQuestionBar > .thirdFaqQuestionBarIcons{

    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.thirdFaqQuestionBarIcons > span{

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.thirdFaqQuestionBarIcons span:nth-child(1) > svg{

    position: absolute;
    font-size: 30px;

}

.thirdFaqQuestionBarIcons span:nth-child(2) > svg{

    position: relative;
    font-size: 30px;

}

.thirdFaq > .thirdFaqQuestionDropDownBox{
    
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.thirdFaqQuestionDropDownBox > p{

    font-family: 'singleProductPageFont';
    letter-spacing: 2px;
    font-size: 15px;

}