@font-face {
    font-family: 'wishlistFont';
    src: url('../fonts/magenda/MagendaRegular-MVwjx.ttf');
}

.wishlistHomeLink{

    width: 100%;
    height: 2rem;
    background-color: orange;
    display: flex;
    align-items: center;

}

.wishlistHomeLink > p{

    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'wishlistFont';
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.9rem;

}

.wishlistHomeLink p > span{

    color: snow;
    cursor: pointer;

}

.wishlistHeading{

    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;

}

.wishlistHeading > h2{

    padding-left: 50px;
    font-family: 'wishlistFont';
    letter-spacing: 2px;
    position: relative;

}

.wishlistHeading > h2::before{

    position: absolute;
    top: 30px;
    left: 53px;
    height: 3px;
    width: 30%;
    background-color: orange;
    content: "";

}

.wishListTable{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

}

.wishListTable > table{

    width: 90%;
    border-collapse: collapse;
    text-align: center;
    font-family: 'wishlistFont';

}

.wishListTable table tbody tr > td img{

    width: 70px;
    height: 70px;

}

.wishListTable > .isWishlist{

    font-size: 1.2rem;
    font-family: 'wishlistFont';
    letter-spacing: 2px;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;

}