@font-face {
    font-family: 'wishlistProductFont';
    src: url('../fonts/magenda/MagendaRegular-MVwjx.ttf');
}

.wishlistProductSection{

    width: 100%;
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 50px;

}

.wishlistProductSection > .wishlistProductHeading{

    height: 4rem;
    display: flex;
    align-items: flex-end;
    padding-left: 60px;
    margin-bottom: 50px;

}

.wishlistProductHeading > h2{

    font-family: 'wishlistProductFont';
    letter-spacing: 3px;
    position: relative;
    font-size: 25px;

}

.wishlistProductHeading > h2::after{

    position: absolute;
    top: 30px;
    left: 5px;
    content: "";
    width: 40%;
    height: 2px;
    background-color: orange;

}

.wishlistProduct{

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 50px;
    padding: 20px 0px;

}

.wishlistProduct > .box{

    width: 25rem;
    height: 13rem;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 50px;
    display: flex;

}

.box > .wishlistProductImage{

    width: 40%;
    height: 100%;
    overflow: hidden;

}

.wishlistProductImage > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.box > .wishlistProductDetails{

    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 10px;

}

.wishlistProductDetails > a{

    text-decoration: none;
    color: #292929;

}

.wishlistProductDetails a > h4{

    font-family: 'wishlistProductFont';
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;

}

.wishlistProductDetails > p{

    font-family: 'wishlistProductFont';
    letter-spacing: 2px;
    font-size: 14px;

}

.wishlistProductDetails > span{

    color: gray;
    font-family: 'wishlistProductFont';
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: underline;

}

